<div class="flex justify-center mt-12 bg-gray w-[21.875rem] mx-auto rounded px-5 py-6">
  <form action="" class="w-full">
    <h1 class="text-[18px] font-bold mb-3">Login</h1>
    <div class="flex flex-col gap-1"> 
      <p>login</p>
      <app-input type="text"></app-input>
      <p>password</p>
      <app-input type="password"></app-input>
    </div>
    <div class="flex gap-4 mt-5 justify-end">
      <button class="px-6 py-[6.4px] rounded-md text-backgroundBlue underline" (click)="login()">Registration</button>
      <button class="bg-backgroundBlue px-6 py-[6.4px] rounded-md text-white shadow-blue-shadow">Login</button>
    </div>
  </form>
</div>