<div *ngIf="card" class="flex flex-col mx-auto pt-5 px-5 w-[16.438rem] h-[23rem] rounded-md bg-colorgrey shadow-[0px_3px_5px_rgba(0,0,0,0.3)] relative overflow-hidden">
  <img [src]="card.snippet.thumbnails.medium.url" alt="photo" class="h-[123px] w-[223px]"/>
  <app-statistics [card]="card"></app-statistics>
  <p class="text-center text-colorgray font-bold text-[20px] truncate">
   {{card.snippet.title}}
  </p>
  <div class="mx-auto mt-8">
    <button (click)="goToDetail(card)" class="bg-backgroundBlue px-6 py-[6.4px] rounded-md text-white shadow-blue-shadow">more...</button>
  </div>
  <app-card-border [card]="card"></app-card-border>
</div>

