<div *ngIf="card() " class="flex mx-auto rounded-md bg-colorgrey shadow-[0px_3px_5px_rgba(0,0,0,0.3)] relative overflow-hidden mt-11">
  <ng-container *ngIf="card()">
    <img [src]="card()?.snippet?.thumbnails?.standard?.url" alt="photo" [width]="card()?.snippet?.thumbnails?.standard?.width" [height]="card()?.snippet?.thumbnails?.standard?.height"/>
    <div class="flex flex-col w-full relative p-9">
      <div class="flex items-start gap-3">
        <h1 class="font-bold text-2xl w-[320px] truncate" title="{{card()?.snippet?.title}}">
          {{card()?.snippet?.title}}
        </h1>
        <p class="ml-auto text-grayText text-[10px] self-center">{{card()?.snippet?.publishedAt}}</p>
      </div>
      <h2 class="font-bold text-sm mt-9">
        Description: <p class="font-normal text-grayText text-clamp-13">{{card()?.snippet?.description}}</p>
      </h2>
      <app-statistics [card]="card()" class="mt-auto"></app-statistics>
      <app-card-border [card]="card()"></app-card-border>
    </div>
  </ng-container>
</div>
